node_modules/
dist/
build/
.next/
out/
coverage/

# Entornos
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
seed-sqlite.log
seed-error.log
seed-error2.log

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Prisma Local
dev.db
*.db-journal

# SouthGo local configs
infrastructure/docker-data/
postgres-data/
*.pem
